<header>
    <nav class="header-nav">
        <a href="/" class="header-title">BASED FILM LIBRARY</a>
        <ul>
            <li><a href="/user">Users</a></li>
            <li><a href="/user/new">Add New User</a></li>
            <li><a href="/film">Films</a></li>
            <li><a href="/film/new">Add New Film</a></li>
        </ul>
    </nav>
</header>