<h2 class="page-header">New User</h2>
<form action="/user" method="post">
    <%-include('_form_fields.ejs') %>
    <div class="form-row form-row-end btn-row">
       <a href="/user" class="btn btn-danger">Cancel</a>
       <button class="btn btn-primary">Create</button> 
    </div>
</form>