@import 'shared/user.css';
@import 'shared/images.css';
@import 'shared/film.css';

.header-title{
    text-decoration: none;
    color: red;
    font: bolder;
    font-size: xx-large;
}

.header-nav ul{
    display: flex;
    list-style-type: none;
    float: right;
}

.header-nav ul li a{
    text-decoration: none;
    margin: 0px 25px 0px;
}

body{
    background: lightgreen;
}

.btn-danger{
    display: block;
    width: 115px;
    height: 25px;
    background: tomato;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.film-details{
    display: grid;
    grid-template-columns: 320px 320px;
}

.film-details-button-grid{
    display: flex;
}

.film-details-button-grid > .btn-primary{
    display: block;
    width: 115px;
    height: 25px;
    font-size: 17px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 70px;
}

.film-details-label{
    font-size: 25px;
    font-weight: bolder;
    margin-top: 15px;
}

