<h2 class="page-header">New Film</h2>
<form action="/film" method="post">
    <%- include('_form_fields.ejs') %>
    <div class="film-form-row film-form-row-end btn-row">
       <a href="/film" class="btn btn-danger">Cancel</a>
       <button class="btn btn-primary" type="submit">Create</button> 
    </div>
</form>